/* xiaomei li start
   ---------------------------------------------------------------*/
* {
	margin: 0; padding: 0;
}
html {
	font-size: 3.8vw;/* 16/414=3.8，实现字体大小自适应*/
	font-family: "Microsoft YaHei UI", sans-serif;
	width: 360px; height: 100%;
	position: relative;
}
body, .swiper-container, .swiper-wrapper, .swiper-slide {
	width: 100%; height: 100%;
	position: relative;
}
.swiper-container {
	overflow: hidden;
}
.swiper-slide {
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.page1, .page3 {
	background-color: #203451;
	/*background-image: url("../img/bg.png");*/
}
.page2 {
	background-color: #ccc;
}
.img {
	background-size: 100% 100%;
	position: absolute;
}
/*--------------------page1-------------------------*/

.start_1 {
	background-image: url("../img/start_1.png");
	left: 31%; top: 4%;
	width: 16%; height: 14%;
}
.start_2 {
	background-image: url("../img/start_2.png");
	left: 0; top: 5.8%;
	width: 100%; height: 31.5%;
}
.start_3 {
	background-image: url("../img/start_3.png");
	left: 20%; top: 33.6%;
	width: 23%; height: 19.5%;
}
.start_4 {
	background-image: url("../img/start_4.png");
	left: 30%; top: 21.8%;
	width: 64%; height: 23%;
}
.start_5 {
	background-image: url("../img/start_5.png");
	left: 38%; top: 35.3%;
	width: 44.9%; height: 15.3%;
}
.start_6 {
	background-image: url("../img/start_6.png");
	left: 59%; top: 44.5%;
	width: 30%; height: 29.5%;
}
.start_7 {
	background-image: url("../img/start_7.png");
	left: 0; top: 66%;
	width: 78.5%; height: 26%;
}
.start_8 {
	background-image: url("../img/start_8.png");
	left: 33%; top: 53%;
	width: 20%; height: 20%;
}
.start_9 {
	background-image: url("../img/start_9.png");
	right: 0; top: 43%;
	width: 18%; height: 10%;
}
.start_10 {
	background-image: url("../img/start_10.png");
	left: 0; top: 17.5%;
	width: 100%; height: 71%;
}
.start_title {
	background-image: url("../img/start_title.png");
	left: 25%; top: 14%;
	width: 50%; height: 15%;
}
.start_car1 {
	background-image: url("../img/start_car1.png");
	left: 83%; top: 32%;
	width: 6%; height: 8%;
}
.start_car2 {
	background-image: url("../img/start_car2.png");
	left: 73%; top: 58%;
	width: 7%; height: 5%;
}
.start_car3 {
	background-image: url("../img/start_car3.png");
	left: 29%; top: 74%;
	width: 13%; height: 6%;
}
/*--------------------page1-------------------------*/
.end_saying {
	background-image: url("../img/end_saying.png");
	left: 7.5%; top: 35%;
	width: 85%; height: 15%;
}
/* xiaomei li end
   ---------------------------------------------------------------*/
@media screen and (max-width: 640px) {
	html {
		width: 100%;
	}
}